
.main-section{
  width:600px;
  margin: 0 auto;
  margin-top:90px ;
  padding: 0;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: rgb(197, 255, 255);


}
.modal-content{
  background-color: #FFFF;
  text-align: left;
}
.header{
  font-family:  'Arial Narrow';
  font-size:10;
  text-align: center;
  font-size: 50px
  
}
  
.topic {
  text-align:center;
  /* background-color:#0292B7; */
  
  /* border:2px solid grey; */
  /* border-radius:10px; */
  padding: 3px; 
  font-family: Ozxgen, sans-serif;
  font-size: 25px;
  /* max-height: 80px; */
  
  } 
  
  

.form-group{
  padding: 5px;
  margin-bottom: 25px;
  font-size: 20px;
}

/*  
.formgroup{
  padding: 5px;
  margin-bottom: 25px;
  font-size: 20px;
} */
.form-group input{
  height:50px;
  border-radius:12px;
  padding-left: 30px;
  
} 
.form-control:focus{
background-color: rgb(191, 250, 250);   
/* outline:0; */
}/* 
.formgroup input{
  height:50px;
  border-radius:12px;
  padding-left: 40px;
  
} */

.form-group::before{ 
  font-family: 'Font Awesome\ 5 Free';
  content: "\f007";
  position: absolute;
  font-size: 22px;
  left: 28px;  
  padding-top: 45px; 
    
}  
.form-group:last-of-type::before{
  content: "\f023";
}



  .button{
    padding:10px 20px;
    
  } 


  
  